@media (min-height: 575px) and (not (max-width: 899px)) {
    .Lista-Cubiculos.disponible {
        width: 900px;
        min-height: 500px;
        max-height: calc(100% - 75px);
        box-sizing: content-box;
    }
}

.disponible .filtros {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
}

.filtro:first-child {
    width: 100%;
}

.filtro:first-child > div {
    flex-grow: 1;
}

.filtro .form-control {
    height: 30px;
}

span.hoverInfo {
    text-decoration: underline dashed;
    cursor: help;
}

.disponible .filtros .filtro label {
    white-space: nowrap;
}

.nombre a {
    font-family: "Roboto Slab", "Source Serif Pro", "Noto Serif", "Liberation Serif", "Cambria", serif;
}