.Menu-Estudiante{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 180px;
    background-color: white;
    border: black solid 3px;
    border-radius: 12px;
}
.Menu-Estudiante h3{
    margin-bottom: 20px;
}
.Menu-Estudiante ul > li{
    text-decoration: underline;
    color:rgb(102, 101, 101)
}