.Menu-Estudiante h1 {
    margin-bottom: 20px;
    font-size: 1.75rem;
}

.Menu-Estudiante ul>li {
    text-decoration: underline;
    color: rgb(101, 101, 101);
    text-align: start;
    list-style: none;
}

.Menu-Estudiante ul {
    padding-left: inherit;
}