tspan {
    font-family: "Roboto Slab", "Source Serif Pro", "Noto Serif", serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    background-color: #005085;
    padding: 7px 15px;
    box-sizing: content-box;
    flex-grow: 0;
}

@media (prefers-color-scheme: dark) {
    .header {
        background-color: #00395f;
        border-bottom: solid 1px white;
    }
}

a {
    height: inherit;
}

svg {
    height: inherit;
    width: auto;
}

.header button {
    border-radius: 15px;
    background-color: white;
    height: 38px;
}

.header button:hover {
    background-color: gray;
}

@media (prefers-color-scheme: dark) {
    .header button {
        color: white;
        background-color: #353535;
        border: solid 1px white;
    }
    
    .header button:hover {
        background-color: rgb(175, 175, 175);
    }
}