tspan {
    font-family: "Roboto Slab", "Source Serif Pro", "Noto Serif", serif;
}

.header {
    height: 45px;
    width: 100%;
    background-color: #005085;
    padding: 7px 15px;
    box-sizing: content-box;
}

@media (prefers-color-scheme: dark) {
    .header {
        background-color: #00395f;
    }
}

a {
    height: inherit;
}

svg {
    height: inherit;
    width: auto;
}