@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Roboto", "Source Sans Pro", "Arial", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  align-items: center;
  justify-content: center;
}

html {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-flow: column;
}

h1, h2, h3 {
  font-family: "Roboto Slab", "Source Serif Pro", "Noto Serif", "Liberation Serif", "Cambria", serif;
}

a, h1, h2, h3 {
  color: #005085;
  text-decoration: none;
}

button, input[type="submit"] {
  background-color: #005085;
}

@media (prefers-color-scheme: dark) {
  button, input[type="submit"] {
    background-color: #0073c0;
    border-color: #005085;
  }

  button:hover, input[type="submit"]:hover {
    background-color: #005085;
  }
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}