.tarjeta {
    min-width: 500px;
    max-width: 85%;
    height: fit-content;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 7px 0px 7px #b2b2b2, -7px -0px 7px #b2b2b2,
                0px 7px 7px #b2b2b2, -0px -7px 7px #b2b2b2;
    margin: auto;
}

@media (prefers-color-scheme: dark) {
    .tarjeta {
        background-color: #363636;
        box-shadow: none;
        box-shadow: 7px 0px 7px #575757, -7px -0px 7px #575757,
                    0px 7px 7px #575757, -0px -7px 7px #575757;
    }

    .tarjeta p,
    label {
        color: rgb(205, 205, 205);
    }
}

h1 {
    margin-bottom: 30px;
}

.tarjeta form .form-group {
    margin-bottom: 20px;
}

.tarjeta form .form-group input {
    border-radius: 15px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    height: 38px;
    margin: auto;
}

.tarjeta form input[type="submit"] {
    margin-bottom: 10px;
    border-radius: 15px;
    width: 80%;
}

@media (prefers-color-scheme: dark) {
    .tarjeta form .form-group input {
        background-color: #363636;
        color: white;
    }

    .tarjeta form .form-group input::placeholder {
        color: #bdbdbd;
    }
}

.tarjeta a,
.tarjeta h1,
.tarjeta h2,
.tarjeta h3 {
    color: #005085;
    text-decoration: none;
}

.tarjeta h1,
.tarjeta h2,
.tarjeta h3 {
    font-size: 1.75rem;
}

@media (prefers-color-scheme: dark) {

    .tarjeta h1,
    .tarjeta h2,
    .tarjeta h3 {
        color: #0073c0;
    }

    .tarjeta a {
        color: white;
    }
}